<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>metamint</title>
    <link href="" rel="stylesheet">
    
  </head>
  <body>
    <div class="nav"><span id="">metamint</span>
      <div class="navdiv">
        <ul id="list1">
          <li><a href="/">Home</a></li>
          <li><a href="#aboutcont">About us</a></li>
          <button><a href="./creatorlogin">Creator Login</a></button>
          <button><a href="./creatorsignup">Creator SignUP</a></button>
        </ul>
      </div>
    </div>
      <div class="mainbody">
        <div class="container" id="abc">
          <font size="" color="white"><span class="autotype"></span></font>
        </div>
        <div>
          <div id="contmain">
          <font id="discmain">Getting Started</font>
          <br>
          <p id="paramain">Get started by selecting your favorite YouTube channels and <br>turning them into tradable stocks on our platform. Seamlessly<br> merge entertainment and investment, unlocking a new era <br>where content creators and investors unite.</p>
          <div id="mdiv">
            <p id="mcont">Create a New Metamask Wallet Now!</p>
            <button id="mbut"><a href="https://metamask.io/download/" target="_blank">Create Metamask</a></button>
          </div>

          <div class="ubutton">
            <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="./usersignup"><button >User Sign UP</button></a>
            <a href="./userlogin"><button >User Login</button></a>
          </div>
        </div>
      </div>
      <div id="">
        <p>ABOUT US</p>
      </div>
      <div id="">
        <p>
          At <b>metamint</b>, we aim to revolutionize the digital media landscape by empowering creators to directly engage with their audience and monetize 
          their content. We leverage the power of Web3 technology and tokenomics to enable users to invest in their favorite creators and even bid
          for ownership of their channels. Our platform offers enhanced control for creators, increased engagement for users, and an ownership
          economy that creates a more equitable and vibrant digital ecosystem. By harnessing the potential of blockchain and decentralized finance,
          we create a future where creativity thrives, and value is shared among all participants. Join us in building a platform that empowers 
          creators and enables users to participate in the ownership economy of digital media.
        </p>
      </div>
    
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
   <script>
      var typed=new Typed(".autotype",{strings:["Welcome To","metamint"],
    typeSpeed:150,
    backSpeed:120,
    loop:true});

    </script>
    <style>
      .autotype {
        color: black;
      }
    </style>
  <div>
    <h1>Contact Us</h1>
  </div>
  <div>
    <form action="mailto:saxenaanubhav1204@gmail.com" method="post" enctype="text/plain">
      <label for="name">Name:</label><br>
      <input type="text" id="name" name="name" required><br>
      <label for="email">Email:</label><br>
      <input type="email" id="email" name="email" required><br>
      <label for="query">What can we help you with:</label><br>
      <textarea id="query" name="query" rows="4" cols="50" required></textarea><br>
      <input type="submit" value="Submit">
  </form>
  </div>
  <footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>&copy; 2024 metamint. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
  </body>
</html>